# SpringDatasource
SPRING_DATASOURCE_URL=

# Banco de Dados PostgreSQL
REPORT_SERVICE_DB_PORT=
REPORT_SERVICE_DB_USER=
REPORT_SERVICE_DB_PASSWORD=

# KAFKA
KAFKA_SERVERS=

# Review Service PORT
REPORT_SERVICE_PORT=
